services:
  backend:
    container_name: iss-piss-backend
    image: node:20-slim
    working_dir: /app
    volumes:
      - ./backend:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "8787:8787"
    environment:
      NODE_ENV: development

  frontend:
    container_name: iss-piss-frontend
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:5173"
    environment:
      NODE_ENV: development
    depends_on:
      - backend
